<launch>
  <!-- Set model -->
  <env name="TURTLEBOT3_MODEL" value="burger"/>

  <!-- Launch Gazebo with your world -->
  <arg name="world_file" default="$(find burger_bot_sim)/worlds/pasi_updated.sdf" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="false" />
    <arg name="use_sim_time" value="true" />
    <arg name="gui" value="true" />
  </include>

  <!-- Load robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

  <!-- Spawn the robot dynamically -->
  <node name="spawn_burger" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model burgerbot -x 0 -y 0 -z 0.1"
        output="screen"/>
</launch>
